<launch>
  <arg name="model" />
  <arg name="gui" default="True" />
  <!-- <arg name="name_urdf" default="arm_pen" /> -->
  <!--加载URDF文件-->
  <param name="robot_description" textfile="$(find magician)/urdf/arm_jiazi.urdf" />

  <!-- 设置GUI参数，显示关节控制插件-->
  <param name="use_gui" value="$(arg gui)" />

  <!-- 运行joint_state_publisher节点，发布机器人的关节状态-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- robot_state_publisher，发布tf-->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!--运行rviz可视化界面-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find magician)/config/demo.rviz"/>
</launch>
